{% block tikz_picture %}
% Optional arguments: Aligns the illustrations with respect to each other
\begin{tikzpicture}
    {%- if beamer == "True" -%}
        [overlay, remember picture]
    {% endif %}

    \begin{scope}

        % Create the hashtable
        \matrix[hashtable] (table) {
        % Row with keys
        {% for i in range(hashtable | length) -%} 
            {%- if i != hashtable | length - 1 -%} 
                {{ hashtable[i] }} &
            {%- else -%}
                {{ hashtable[i] }} \\
            {%- endif -%} 
        {%- endfor %}
        % Row with indices
        {% for i in range(hashtable | length) -%} 
            {%- if i != hashtable | length - 1 -%} 
                {{ "" }} &
            {%- else -%}
                {{ "" }} \\
            {%- endif -%} 
        {%- endfor %}
        };

        % Insert some descriptive text and position it correctly with respect to the table...
        \node[left = 1mm and 0 of table-1-1.west] (label1) {\small{Inserted keys $k$:}};
        \node[below = 0.5mm and 0 of label1.south] {\small{\hspace{1.35cm} Index $j$:}};
        \node[above right = 1mm and 0 of table-1-1.north west] {Hash tabel};
    
        % Define the key to be inserted
        \matrix[index, below left = 0mm and 0 of table, anchor = north east] (insertKey) {
            \small{Data} & \small{Key} \\
            $ \circ $ & $k =$ {{ k }} \\
        };

        % Illustrate the operation
        % Use \phantom to add some "invisible" characters for spacing
        \matrix[operation, anchor = north west] () {
            \phantom{\small{Data}} & \phantom{\small{Key}} \\
            \phantom{\small{Data}} & \phantom{\small{Key}} \\
            {%- if status[0] == "inserted" -%}
                \small{\color{green}{Inserted\phantom{xx}:}}& \small{$h({{ k }}, {{ increments[0] }}) = {{ indices[0] }}$} \\
            {%- else -%}
                {%- for i in range(indices | length) %}
                    {%- if status[i] == "collision" %}
                        \small{\color{red}{Collision\phantom{x}:}} & \small{$h({{ k }}, {{ increments[i] }}) = {{ indices[i] }}$} \\
                    {%- else %}
                        \small{\color{green}{Inserted\phantom{xx}:}}& \small{$h({{ k }}, {{ increments[i] }}) = {{ indices[i] }}$} \\
                    {%- endif %}
                {%- endfor %}
            {%- endif %}
        };

        % Color boxes at insertion or collision 
        \begin{scope}[on background layer]
            {%- if status[0] == "inserted" -%}
                    \fill[green] (table-1-{{ indices[0] + 1}}.north west) rectangle (table-1-{{ indices[0] + 1}}.south east);
            {% else %}
                {%- for i in range(indices | length) %}
                    {%- if status[i] == "collision" %}
                        \fill[red] (table-1-{{ indices[i] + 1 }}.north west) rectangle (table-1-{{ indices[i] + 1}}.south east);
                    {%- else %}
                        \fill[green] (table-1-{{ indices[i] + 1}}.north west) rectangle (table-1-{{ indices[i] + 1}}.south east);
                    {%- endif %}
                {%- endfor %}
            {%- endif %}
        \end{scope}

        % Color the path from the (data, key) pair to calculated index in the hashtable
            {%- if status[0] == "inserted" -%}
                \draw[->, green] (insertKey-2-2) to[out = 0, in = -90] (table-2-{{ indices[0] + 1}}.south);
                \draw[dashed] (insertKey-2-1) -- (insertKey-2-2.west) node[xshift = - 1.30cm, color = gray]{};
                {% else %}
                {%- for i in range(indices | length) %}
                    {%- if status[i] == "collision" %}
                        \draw[->, red] (insertKey-2-2) to[out = 0, in = -90] (table-2-{{ indices[i] + 1}}.south);
                        \draw[dashed] (insertKey-2-1) -- (insertKey-2-2.west) node[xshift = - 1.30cm, color = gray]{};
                    {%- else %}
                        \draw[->, green] (insertKey-2-2) to[out = 0, in = -90] (table-2-{{ indices[i] + 1}}.south);
                        \draw[dashed] (insertKey-2-1) -- (insertKey-2-2.west) node[xshift = - 1.30cm, color = gray]{};
                    {%- endif %}
                {%- endfor %}
            {%- endif %}

    \end{scope}

\end{tikzpicture}
{% endblock %}
